In [62]:
import psycopg2
conn = psycopg2.connect(host="localhost",dbname="postgres",user="postgres",password="inkar10",port=5432)
cur = conn.cursor()
cur.execute("""CREATE TABLE PhoneBook(
            ID SERIAL PRIMARY KEY,
            FirstName VARCHAR(50),
            LastName VARCHAR(50),
            PhoneNumber VARCHAR(20)
            ); """)
conn.commit()
cur.close()
conn.close()

In [63]:
import psycopg2
conn = psycopg2.connect(host="localhost",dbname="postgres",user="postgres",password="inkar10",port=5432)
cur = conn.cursor()
with open("phonebook.csv","r",encoding="ISO-8859-1") as f:
    next(f)
    cur.copy_expert("COPY phonebook(FirstName, LastName, PhoneNumber) FROM STDIN WITH CSV", f)
conn.commit()
cur.close()
conn.close()

In [77]:
import psycopg2
conn = psycopg2.connect(host="localhost", dbname="postgres", user="postgres", password="inkar10", port=5432)
cur = conn.cursor()
first_name = 'Inkar' #input("Name: ")
last_name = 'Askarbekova' #input("Last Name: ")
phone_number = '775000123654' #input("Phone Number: ")
cur.execute("""INSERT INTO PhoneBook(FirstName, LastName, PhoneNumber) VALUES (%s, %s, %s);""", (first_name, last_name, phone_number))
conn.commit()
cur.close()
conn.close()

In [65]:
import psycopg2
conn = psycopg2.connect(host="localhost",dbname="postgres",user="postgres",password="inkar10",port=5432)
cur = conn.cursor()
cur.execute("""UPDATE PhoneBook SET FirstName = 'First' WHERE id = 12""")
conn.commit()
cur.close()
conn.close()

In [66]:
import psycopg2
conn = psycopg2.connect(host="localhost",dbname="postgres",user="postgres",password="inkar10",port=5432)
cur = conn.cursor()
cur.execute("""SELECT * FROM PhoneBook WHERE LastName LIKE 'S%';""")
results = cur.fetchall()
for row in results:
    print(row)
conn.commit()
cur.close()
conn.close()

(7, 'Sandra', 'Snyder', '779204487871')
(8, 'Christopher', 'Stevens', '775730792182')
(14, 'Brian', 'Stone', '773168847975')

In [68]:
import psycopg2
conn = psycopg2.connect(host="localhost",dbname="postgres",user="postgres",password="inkar10",port=5432)
cur = conn.cursor()
cur.execute("""SELECT * FROM PhoneBook WHERE PhoneNumber LIKE '773%';""")
results = cur.fetchall()
for row in results:
    print(row)
conn.commit()
cur.close()
conn.close()

(1, 'Cassandra', 'Nunez', '773005940992')
(6, 'Daniel', 'Perez', '773495615643')
(14, 'Brian', 'Stone', '773168847975')

In [70]:
import psycopg2
conn = psycopg2.connect(host="localhost",dbname="postgres",user="postgres",password="inkar10",port=5432)
cur = conn.cursor()
cur.execute("""SELECT * FROM PhoneBook WHERE ID BETWEEN 5 AND 10;""")
results = cur.fetchall()
for row in results:
    print(row)
conn.commit()
cur.close()
conn.close()

(5, 'Michelle', 'Cruz', '775544215437')
(6, 'Daniel', 'Perez', '773495615643')
(7, 'Sandra', 'Snyder', '779204487871')
(8, 'Christopher', 'Stevens', '775730792182')
(9, 'Laura', 'Little', '779847641506')
(10, 'Patrick', 'Porter', '779511474188')

In [71]:
import psycopg2
conn = psycopg2.connect(host="localhost",dbname="postgres",user="postgres",password="inkar10",port=5432)
cur = conn.cursor()
cur.execute("""SELECT * FROM PhoneBook ORDER BY LastName;""")
results = cur.fetchall()
for row in results:
    print(row)
conn.commit()
cur.close()
conn.close()

(16, 'Inkar', 'Askarbekova', '775000123654')
(5, 'Michelle', 'Cruz', '775544215437')
(13, 'Megan', 'Fletcher', '770738916607')
(12, 'First', 'Gonzales', '777519449302')
(11, 'Ashley', 'Higgins', '778694209761')
(4, 'Ronald', 'Lane', '777014770715')
(9, 'Laura', 'Little', '779847641506')
(2, 'Julie', 'Lynn', '772659178223')
(3, 'Joseph', 'Martin', '771572766394')
(1, 'Cassandra', 'Nunez', '773005940992')
(6, 'Daniel', 'Perez', '773495615643')
(10, 'Patrick', 'Porter', '779511474188')
(7, 'Sandra', 'Snyder', '779204487871')
(8, 'Christopher', 'Stevens', '775730792182')
(14, 'Brian', 'Stone', '773168847975')
(15, 'Kelly', 'Waters', '776221023384')

In [76]:
import psycopg2
conn = psycopg2.connect(host="localhost",dbname="postgres",user="postgres",password="inkar10",port=5432)
cur = conn.cursor()
cur.execute("""DELETE FROM PhoneBook WHERE FirstName = 'Inkar';""")
conn.commit()
cur.close()
conn.close()